.liveRace{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: var(--font-montserrat);
    padding-bottom: 100px;
    
    h1 {
        padding: 16px 36px;
        font-size: clamp(2rem, 1.8239rem + 0.5634vw, 2.5rem);
        font-weight: 600;
        background: url(../../assets/bg_title.png);
        color: var(--white-default);
    }
}