header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 0px 36px;
    background-color: var(--white-default);
}

.searchWrapper {
    position: relative;
    margin-right: 20px;
}

.searchInput {
    /* width: 10%; */
    padding: 8px 32px 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.searchIcon {
    position: relative;
    right: 28px;
    top: 8px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #666;
}

.logout {
    display: flex;
    align-items: center;
    width: 40px;
    height: 100%;

    svg{
        font-size: 28px;
        color: #666;
        cursor: pointer;
    }
}

.flagIcon {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.userProfile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.userImage {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.userInfo {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: var(--font-inter);
}

.userName {
    font-size: 1rem;
    font-weight: bold;
}

.userPoints {
    font-size: 12px;
    color: #666;
}
