.home {
    padding-bottom: 120px;
}

.nextRace {
    display: flex;
    width: 100%;
    height: 212px;
}

.dataRace {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 18px;
    width: 100%;
    color: var(--white-default);
    font-family: var(--font-montserrat);
    overflow: hidden; /* Para esconder o pseudo-elemento que vai ficar fora do container */
}

.dataRace::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../../../public/assets/banner_formulae.webp) center bottom no-repeat;
    background-size: cover; /* Para cobrir todo o container */
    filter: brightness(0.2);
    z-index: 0; /* Para ficar atrás do conteúdo */
}

.dataRace > * {
    position: relative; /* Para garantir que o conteúdo fique acima do pseudo-elemento */
    z-index: 1;
}


.title {
    font-size: clamp(1.25rem, 0.9667rem + 0.4444vw, 1.5rem);
    font-weight: 600;
}

.line {
    height: 1px;
    width: 100%;
    background: linear-gradient(90deg, #0ff 0%, #00f 50%, #0ff 100%);
}

.racingCircuit {
    width: auto;
    height: 100%;
}

.locationRace {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.raceText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: 700;
}

.countryFlag {
    height: auto;
    width: clamp(3.125rem, 1.7083rem + 2.2222vw, 4.375rem);
}

.location {
    font-size: clamp(1.5rem, 0.65rem + 1.3333vw, 2.25rem);
}

.round {
    font-size: clamp(1rem, 0.4333rem + 0.8889vw, 1.5rem);
}
