@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  scroll-behavior: smooth;
}
/* INICIO */
.start {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  overflow: hidden; /* Evitar overflow em dispositivos pequenos */
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.textContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  max-width: 90%; /* Ajustado para telas menores */
  text-align: center;
}

.textContainer h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 120px;
}

.textContainer span {
  color: transparent; /* Torna o texto transparente */
  background: linear-gradient(180deg, rgb(0, 85, 255) 0%, rgb(0, 28, 85) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  display: block;
  margin-top: 10px;
}

.button {
  margin-top: 20px;
  padding: 20px 30px;
  background: linear-gradient(180deg, rgb(0, 85, 255) 0%, rgb(0, 33, 99) 100%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.button:hover {
  background-color: #004ecc;
}

/* GRANDE DESAFIO  */
.container {
  background: linear-gradient(
    180deg,
    rgba(6, 87, 255, 1) 0%,
    rgba(0, 39, 119, 1) 100%
  );
  color: white;
  padding: 50px;
  font-family: Arial, sans-serif;
  text-align: center;
  height: auto; /* Altura automática */
}

.title {
  font-size: 2.5em;
  margin-bottom: 40px;
}

.sections {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
}

.section {
  background-color: #001d58;
  padding: 40px;
  margin: 0;
  border-radius: 10px;
  height: 350px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.section:hover {
  transform: translateY(-10px);
  background-color: #0055ff;
}

.icon {
  font-size: 2em;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.text {
  font-size: 1em;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 25px;
}

/* SOLUÇÃO */
.solucaoContainer {
  background: linear-gradient(
    180deg,
    rgba(0, 39, 119, 1) 0%,
    rgba(0, 18, 55, 1) 100%
  );
  color: white;
  padding: 50px;
  font-family: Arial, sans-serif;
  text-align: center;
  height: auto; /* Altura automática */
}

.solucaoTitle {
  font-size: 2.5em;
  margin-bottom: 40px;
}

.solucaoSections {
  display: grid;
  grid-template-columns: repeat(2, minmax(400px, 1fr));
  gap: 80px;
}

.solucaoSection {
  background-color: #0044cc;
  padding: 40px;
  margin: 0;
  border-radius: 10px;
  height: auto; /* Altura automática */
  transition: transform 0.3s ease, background-color 0.3s ease;
  margin-top: 20px;
}

.solucaoSection:hover {
  transform: translateY(-10px);
  background-color: #001d58;
}

.solucaoIcon {
  font-size: 2em;
  margin-bottom: 20px;
}

.solucaoSubtitle {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.solucaoText {
  font-size: 25px; /* Mantido como está */
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.solucaoSection img {
  margin-top: 20px;
  max-width: 100%;
  height: auto;
}

/* MEDIA QUERIES PARA RESPONSIVIDADE */

@media (min-width: 1025px) and (max-width: 1800px) {
  .textContainer h3 {
    font-size: 5vw;
  }

  .sections {
    grid-template-columns: 1fr 1fr;
  }

  .textContainer {
    max-width: 70%;
    margin: 0 auto;
    padding: 0 50px;
  }

  .button {
    padding: 15px 25px;
  }

  .section,
  .solucaoSection {
    height: auto;
    padding: 20px;
  }
}

@media (min-width: 769px) and (max-width: 960px) {
  .solucaoSections {
    display: grid;
    grid-template-columns: 1fr;
    gap: 80px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .textContainer h3 {
    font-size: 64px;
  }

  .sections {
    grid-template-columns: 1fr;
  }

  .textContainer {
    max-width: 80%;
    padding: 0 30px;
  }

  .button {
    padding: 12px 20px;
  }

  .section,
  .solucaoSection {
    padding: 15px;
  }

  .solucaoSection img {
    display: block;
  }
}
@media (max-width: 768px) {
  .textContainer h3 {
    font-size: 64px;
  }

  .sections {
    grid-template-columns: 1fr;
  }

  .section,
  .solucaoSection {
    height: auto;
  }

  .textContainer {
    max-width: 90%;
    padding: 0 20px;
  }

  .button {
    padding: 15px 20px;
  }

  .solucaoSections {
    grid-template-columns: 1fr;
  }

  .solucaoSection img {
    display: none;
  }
}

@media (max-width: 480px) {
  .textContainer h3 {
    font-size: 48px;
  }

  .button {
    padding: 10px 15px;
  }

  .icon {
    font-size: 1.5em;
  }

  .subtitle {
    font-size: 1.25em;
  }

  .text {
    font-size: 20px;
  }

  .solucaoSubtitle {
    font-size: 1.25em;
  }

  .solucaoText {
    font-size: 20px;
  }
}
