/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-gray: #d5d5d5;
  --text-icon-gray: #8a92a6;
  --menu-blue: #000cd8;
  --link-blue: #0001fd;
  --text-color: #0f233b;
  --border-color: #adb5bd;
  --white-default: #fff;
  --black-default: #000;

  --font-montserrat: "Montserrat", sans-serif;
  --font-inter: "Inter", sans-serif;
}

ul {
  list-style: none;
}

button {
  background: unset;
  border: none;
  cursor: pointer;
}

a {
  color: initial;
  text-decoration: inherit;
}

main {
  width: 100%;
  min-height: 100vh;
  max-height: 100%; /* Limite a altura do filho ao do pai */
  overflow-y: auto; /* O filho terá scroll */
}

#root,
body,
html {
  height: 100%;
}

#root{
  overflow: hidden;
}

section {
  width: 100%;
  height: auto;
  min-height: calc(100vh - 100px);
}

.containerRace {
  display: flex;
  min-height: 100%;
  max-height: 100%;
  width: 100vw;
  background-color: #e9ecef;
}

@media (max-width: 768px) {
  html {
    font-size: 90%;
  }

  .containerRace {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 80%;
  }
}

/* Resetando CSS padrão da sidebar*/
.css-1wvake5 {
  border: none !important;
  border-color: none !important;
}
.css-honxw6,
.css-jn69v9 {
  height: 8px !important;
  width: 8px !important;
}

.css-dip3t8 {
  background: none !important;
}

.ps-menu-button {
  height: auto !important;
}

.ps-menu-button:hover {
  background: none !important;
}
.css-dip3t8 {
  background-color: var(--white-default) !important;
}

.pt-sub {
  padding-left: 32px;
}
