/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "MyCustomFont";
  src: local("MyCustomFont") url("./assets/fonts/FESans.var.woff2")
      format("opentype"),
    url("./assets/fonts/FESans.var.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

:root {
  --card-point: #006BEE;
  --dark-gray: #d5d5d5;
  --text-icon-gray: #8a92a6;
  --menu-blue: #000cd8;
  --link-blue: #0001fd;
  --text-color: #0f233b;
  --border-color: #adb5bd;
  --white-default: #fff;
  --black-default: #000;
  --bg-blue: #00005a;
  --font-montserrat: "Montserrat", sans-serif;
  --font-inter: "Inter", sans-serif;
}

.table-dark {
  --bs-table-bg: var(--bg-blue) !important;
}

._loading_overlay_wrapper {
  height: 100vh !important;
}

a{
  --bs-btn-hover-bg: var(--bg-blue) !important;
  --bs-btn-hover-border-color: var(--bg-blue) !important;
  --bs-btn-bg: var(--bg-blue) !important;
  --bs-btn-border-color: var(--bg-blue) !important;
}

p {
  margin: 0 !important;
}

ul {
  list-style: none;
}

button {
  background: unset;
  border: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: inherit !important;
}

main {
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  overflow-y: auto;
}

#root,
body,
html {
  height: 100%;
}

#root {
  overflow: hidden;
}

section:not(.notContainer) {
  width: 100%;
  height: auto;
  min-height: calc(100vh - 100px);
}

.containerRace {
  display: flex;
  min-height: 100%;
  max-height: 100%;
  width: 100vw;
  background-color: #e9ecef;
}

@media (max-width: 768px) {
  main {
    height: auto !important;
    min-height: auto !important;
  }

  html {
    font-size: 90%;
  }

  .containerRace {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 80%;
  }
}

.containerRaceADM {

  /* Resetando CSS padrão da sidebar*/
  .css-1wvake5 {
    border: none !important;
    border-color: none !important;
  }

  .css-18unl23{
    background-color: #00005a !important;
  }

  .css-honxw6,
  .css-jn69v9 {
    height: 8px !important;
    width: 8px !important;
  }

  .css-dip3t8 {
    background: none !important;
  }

  .ps-menu-button {
    height: auto !important;
  }

  .ps-menu-button:hover {
    background: none !important;
  }
  .css-dip3t8 {
    background-color: #00005B !important;
  }

  .pt-sub {
    padding-left: 32px;
  }
}

/* Resetando CSS padrão da sidebar*/
.css-1wvake5 {
  border: none !important;
  border-color: none !important;
}
.css-honxw6,
.css-jn69v9 {
  height: 8px !important;
  width: 8px !important;
}

.css-dip3t8 {
  background: none !important;
}

.ps-menu-button {
  height: auto !important;
}

.ps-menu-button:hover {
  background: none !important;
}
.css-dip3t8 {
  background-color: var(--white-default) !important;
}

.pt-sub {
  padding-left: 32px;
}
