/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "MyCustomFont";
  src: local("MyCustomFont") url("./assets/fonts/FESans.var.woff2")
      format("woff2"),
    url("./assets/fonts/FESans.var.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --dark-gray: #d5d5d5;
  --text-icon-gray: #8a92a6;
  --menu-blue: #000cd8;
  --link-blue: #0001fd;
  --text-color: #0f233b;
  --border-color: #adb5bd;
  --white-default: #fff;
  --black-default: #000;
  --bg-blue: #00005a;
  --font-montserrat: "Montserrat", sans-serif;
  --font-inter: "Inter", sans-serif;
}

.table-dark {
  --bs-table-bg: var(--bg-blue) !important;
}

._loading_overlay_wrapper {
  height: 100vh !important;
}

p {
  margin: 0 !important;
}

ul {
  list-style: none;
}

button {
  background: unset;
  border: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: inherit !important;
}

main {
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  overflow-y: auto;
}

#root,
body,
html {
  height: 100%;
}

#root {
  overflow: hidden;
}

section {
  width: 100%;
  height: auto;
  min-height: calc(100vh - 100px);
}

.containerRace {
  display: flex;
  min-height: 100%;
  max-height: 100%;
  width: 100vw;
  background-color: #e9ecef;
}

@media (max-width: 768px) {
  main {
    height: auto !important;
    min-height: auto !important;
  }

  html {
    font-size: 90%;
  }

  .containerRace {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 80%;
  }
}

.containerRaceADM {

  /* Resetando CSS padrão da sidebar*/
  .css-1wvake5 {
    border: none !important;
    border-color: none !important;
  }

  .css-18unl23{
    background-color: #00005a !important;
  }

  .css-honxw6,
  .css-jn69v9 {
    height: 8px !important;
    width: 8px !important;
  }

  .css-dip3t8 {
    background: none !important;
  }

  .ps-menu-button {
    height: auto !important;
  }

  .ps-menu-button:hover {
    background: none !important;
  }
  .css-dip3t8 {
    background-color: #00005B !important;
  }

  .pt-sub {
    padding-left: 32px;
  }
}

/* Resetando CSS padrão da sidebar*/
.css-1wvake5 {
  border: none !important;
  border-color: none !important;
}
.css-honxw6,
.css-jn69v9 {
  height: 8px !important;
  width: 8px !important;
}

.css-dip3t8 {
  background: none !important;
}

.ps-menu-button {
  height: auto !important;
}

.ps-menu-button:hover {
  background: none !important;
}
.css-dip3t8 {
  background-color: var(--white-default) !important;
}

.pt-sub {
  padding-left: 32px;
}


/*switch*/
.bauble_box .bauble_label {
  background: #2c2;
  background-position: 62px 5px;
  background-repeat: no-repeat;
  background-size: auto 5px;
  border: 0;
  border-radius: 50px;
  box-shadow: inset 0 10px 20px rgba(0,0,0,.4), 0 -1px 0px rgba(0,0,0,.2), inset 0 -1px 0px #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 0;
  height: 40px;
  position: relative;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  width: 90px;
}

.bauble_box .bauble_label:before {
  background-color: rgba(255,255,255,.2);
  background-position: 0 0;
  background-repeat: repeat;
  background-size: 30% auto;
  border-radius: 50%;
  box-shadow: inset 0 -5px 25px #050, 0 10px 20px rgba(0,0,0,.4);
  content: '';
  display: block;
  height: 30px;
  left: 5px;
  position: absolute;
  top: 6px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  width: 30px;
  z-index: 2;
}

.bauble_box input.bauble_input {
  opacity: 0;
  z-index: 0;
}

/* Checked */
.bauble_box input.bauble_input:checked + .bauble_label {
  background-color: #c22;
}

.bauble_box input.bauble_input:checked + .bauble_label:before {
  background-position: 150% 0;
  box-shadow: inset 0 -5px 25px #500, 0 10px 20px rgba(0,0,0,.4);
  left: calc( 100% - 35px );
}