/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  html {
    font-size: 90%;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 80%;
  }
}
