.boxImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-top: 1px;
    border-bottom: 1px solid var(--dark-gray);

    img {
        width: 100%;
    }
}

.navRace {
    padding: 24px 24px;
}

.subMenu {
    font-family: var(--font-inter);
    margin-top: 12px;
    color: var(--text-icon-gray);

    .linkItem{
        display: flex;
        margin-top: 8px !important;
        padding: 4px 8px;
        transition: all 0.5s;
        border-radius: 4px;
        flex-grow: 1;

        span{
            font-size: 1rem;
            color: var(--text-icon-gray);
        }
    }

    .linkItem:hover {
        background-color: var(--menu-blue) !important;
        span{
            color: var(--white-default) !important;
        }
    }

    svg {
        font-size: 24px;
    }
}

.boxLink{
    padding: 100px;
}

.itemMenu {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 12px;
    padding: 8px 0px 8px 24px;
    transition: all 0.5s;
    border-radius: 4px;
    cursor: pointer;
    color: var(--text-icon-gray);
    font-family: var(--font-inter);

    p {
        font-size: 1rem;
    }

    svg {
        font-size: 24px;
    }
}

.itemMenu:hover {
    color: var(--white-default);
    background-color: var(--menu-blue) !important;
}
